<div class="container-home">
  <div class="row-header">
    <div class="new-btn">
      <button type="button" name="button" id="button-popup-show">New</button>
      <div class="button-popup is-hidden">
        <div>
          <input class="form-control" type="text" name="popup" placeholder="Name this project">
        </div>
        <button type="button" name="button" id="popup-submit">Submit</button>
        <button type="button" name="button" id="popup-cancel">Cancel</button>
      </div>
    </div>
    <div class="heading-project">
      <h2>Projects</h2>
    </div>
    <div class="settings-project">
      <button type="button" name="button">...</button>
    </div>
  </div>
  <div class="row-projects">
    <div class="project-card">
      <a href="#" class="project-link">
        <h4>Title</h4>
        <p>Desc</p>
      </a>
    </div>
    <div class="project-card">
      <a href="#" class="project-link">
        <h4>Title</h4>
        <p>Desc</p>
      </a>
    </div>
    <div class="project-card">
      <a href="#" class="project-link">
        <h4>Title</h4>
        <p>Desc</p>
      </a>
    </div>
    <div class="project-card">
      <a href="#" class="project-link">
        <h4>Title</h4>
        <p>Desc</p>
      </a>
    </div>
    <div class="project-card">
      <a href="#" class="project-link">
        <h4>Title</h4>
        <p>Desc</p>
      </a>
    </div>
    <div class="project-card">
      <a href="#" class="project-link">
        <h4>Title</h4>
        <p>Desc</p>
      </a>
    </div>
  </div>
</div>
