<div class="container-home">
  <div class="row-header">
    <div class="new-btn">
      <button type="button" name="button" id="button-popup-show">New</button>
      <div class="button-popup is-hidden" id="button-popup">
        <%= form_with(model: @project) do |f| %>
        <div>
          <%= f.text_field :name, class: "form-control", id: "project-name-input", placeholder: "Name this project", autofocus: true %>
        </div>
        <%= f.submit "Save", class: "btn btn-success", id: "popup-submit" %>
        <button type="button" name="button" id="popup-cancel">Cancel</button>
        <% end %>
      </div>
    </div>
    <div class="heading-project">
      <h2>Projects</h2>
    </div>
    <div class="settings-project">
      <button type="button" name="button">...</button>
    </div>
  </div>
  <div class="row-projects" id="project-list">
    <% @projects.each do |project| %>
      <%= render "project_card", project: project %>
    <% end %>
  </div>
</div>
