<nav>
  <div class="nav-left">
    <img src="<%= image_url("navbar-icon.png") %>" alt="BaseC" class="nav-icon">
  </div>
  <div class="nav-center">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Latest Activity</a>
      </li>
      <li>
        <a href="#">Pings</a>
      </li>
      <li>
        <a href="#">Hey</a>
      </li>
      <li>
        <a href="#">Campfire</a>
      </li>
      <li>
        <a href="#">Reports</a>
      </li>
      <li>
        <a href="#">Find</a>
      </li>
    </ul>
  </div>
  <div class="nav-right">
    <div class="circle">
      <a href="#">B</a>
    </div>
  </div>
</nav>
